
<head>
  <link rel="stylesheet" href="./navbar.component.css">
</head>

<div class="p-1">

<nav class="m-1 mb-0 bg-light">
  <div class="p-3 text-center text__custom">
    <h3 >C5-UD35-Angular Components</h3>
  </div>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-alta-tab" data-bs-toggle="tab" data-bs-target="#nav-alta" type="button"
      role="tab" aria-controls="nav-alta" aria-selected="true" routerLink="alta-cliente">1: Alta Cliente</button>
    <button class="nav-link" id="nav-contacto-tab" data-bs-toggle="tab" data-bs-target="#nav-contacto" type="button"
      role="tab" aria-controls="nav-contacto" routerLink="contacto">Contacto</button>
  </div>
</nav>

</div>
