
<head>
  <link rel="stylesheet" href="./navbar.component.css">
</head>

<div class="p-1">

<nav class="m-1 mb-0 bg-light">
  <div class="p-3 text-center text__custom">
    <h3 >C5-UD35-Angular Components</h3>
  </div>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true" routerLink="alta_cliente">1: Alta Cliente</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
      role="tab" aria-controls="nav-profile" aria-selected="false" routerLink="contacto">Contacto</button>
  </div>
</nav>

</div>
