/* You can add global styles to this file, and also import other style files */

.text__custom{
  color: #2DC998;
}

h1, h2, h3, h4, h5, h6{
  color: #2DC998;
}

button{
  color: #2DC998;
}

th{
  font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
  ;
}

input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  ;
}
