<!------------- Formulario: Alta de Cliente ------------------>
<div class="d-flex flex-column m-3 col col-6 justify-content-center align-items-center">
<form  class="d-flex flex-column m-3 col col-6 justify-content-center align-items-left ">
  <h3 class="mb-3">Alta cliente</h3>
    <div class="row g-3 mb-3 align-items-center">
      <div class="col-auto col-sm-2">
        <label for="inputName" class="col-form-label">Name: </label>
      </div>
      <div class="col-auto">
        <input type="text" id="inputName" class="form-control" #clienteName>
      </div>
    </div>

    <div class="row g-3 mb-3 align-items-center">
      <div class="col-auto col-sm-2">
        <label for="inputCif" class="col-form-label">CIF: </label>
      </div>
      <div class="col-auto ">
        <input type="text" id="inputCif" class="form-control" #clienteCif>
      </div>
    </div>

    <div class="row g-2 mb-3 align-items-center">
      <div class="col-auto col-sm-2">
        <label for="inputDireccion" class="col-form-label">Dirección: </label>
      </div>
      <div class="col-auto">
        <input type="text" id="inputDireccion" class="form-control" #clienteDireccion>
      </div>
    </div>


    <div class="row g-3 mb-3 align-items-center">
      <div class="col-auto col-sm-2">
        <label for="inputGrupo" class="col-form-label">Grupo: </label>
      </div>
      <div class="col-auto">
        <input type="number" id="inputGrupo" class="form-control" #clienteGroup>
      </div>
    </div>

<!--     Boton para añadir cliente -->
    <div class="row g-3 mb-3 align-items-center">
      <div class="col-auto col-sm-2">
        <button type="button" class="btn btn-lg button_1" (click)="addCliente(clienteCif.value, clienteName.value, clienteDireccion.value, clienteGroup.valueAsNumber)">Guardar</button>
      </div>
    </div>

</form>



  <!------------- Listado de Cliente ------------------>
  <div class="d-flex flex-column m-3 col col-6 justify-content-center align-items-center ">
    <h4 class="">Listado clientes</h4>
    <table class="table ">
<!-- Cabecera tabla -->
      <tr class="border-bottom bg-success text-light">
        <th scope="row">id</th>
        <th scope="row">Nombre</th>
        <th>CIF</th>
        <th>Direccion</th>
        <th>Group</th>
      </tr>
<!--       Datos de la tabla -->
        <tr class="border-bottom">
          <th scope="row">n/a</th>
          <th scope="row">Cliente 1</th>
          <th>B 123</th>
          <th>C/ lalala</th>
          <th>1</th>
        </tr>
        <tr  class="border-bottom">
          <th scope="row">n/a</th>
          <th scope="row">Cliente 2</th>
          <th>A334</th>
          <th>Av. lo lo lo</th>
          <th>2</th>
        </tr>
        <tr *ngFor="let cliente of clientes;"  class="border-bottom">
          <th scope="row">{{cliente.id}}</th>
          <th scope="row">{{cliente.nombre}}</th>
          <th>{{cliente.cif}}</th>
          <th>{{cliente.direccion}}</th>
          <th>{{cliente.group}}</th>
        </tr>
        <tbody>


      </tbody>
    </table>
  </div>
</div>
